.search-bar {
    display: flex;
    width: 100%;
    max-width: 400px;
    margin-left: 86rem;
  }
  
  .search-input {
    flex: 1;
    padding: 8px;
    border: 2px solid #7802ff;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 5px #0c25ff, 0 0 5px #0c25ff, 0 0 10px #002efc, 0 0 5px #0c25ff, 0 0 5px #4c00ff, 0 0 20px #0c25ff, 0 0 50px #0c25ff, 0 0 100px #0c25ff;
  }
  
  .search-button {
    background-color: #7f39d1;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px #0c25ff, 0 0 5px #0c25ff, 0 0 10px #002efc, 0 0 5px #0c25ff, 0 0 5px #4c00ff, 0 0 20px #0c25ff, 0 0 50px #0c25ff, 0 0 100px #0c25ff;
  }
  
  .search-button:hover {
    background-color: #ff0000;
  }
  