.login-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccccccaf;
    border-radius: 5px;
    background-color: #f8f8f88f;
    box-shadow: 0 0 10px #ffffff83, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #00ccff, 0 0 40px #d52dff, 0 0 50px #e100ff, 0 0 70px #b52beb, 0 0 120px #cc00ff;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #555;
    
}   

.login-form button {
    color: #fff;
    font-size: 16px;
    background-color: #251ac5;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        margin-left: 8px;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 0 5px #0714d4, 0 0 5px #0c75ff, 0 0 10px #405bcf, 0 0 5px #0c6dff, 0 0 5px #4c00ff, 0 0 20px #0c25ff, 0 0 50px #1c0cff, 0 0 100px #0c25ff;
}

.login-form button:hover {
    background-color: #2500f7;
}

.danger{
    color: red;
    font-weight: bold;
}