    .text{
    color: rgba(0, 0, 0, 0.815);
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.295);
    box-shadow: #2b00ff ;
    padding: 90px;
    box-shadow: 0 0 10px #3f1ff3, 0 0 20px #cc09c2, 0 0 30px #1c04f5, 0 0 10px #ff00ea, 0 0 40px #9108ec, 0 0 50px #e100ff, 0 0 70px #b52beb, 0 0 120px #cc00ff;;
    margin: auto;
    margin-top: 150px;
    }
.div{
    align-items: center;
    display: flex;
    justify-content: center;
}
.backToHome{
    position: absolute;
    top: 150px;
    right: 50px;
    background-color: #ff00ff;
        color: #ffffff;
        border: none;
        border-radius: 20px;
        padding: 5px 13px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 0 10px #f31f94, 0 0 20px #cc09c2, 0 0 30px #f504cd, 0 0 10px #ff00ea, 0 0 40px #d52dff, 0 0 50px #e100ff, 0 0 70px #b52beb, 0 0 120px #cc00ff;
}