.link{
    margin-left: 150px;
    margin-block-end: 10px;
}

.home{
    color: rgb(196, 240, 2) ;
    background-color: #c500bbb1;
    box-shadow: 0 0 5px #fefefe, 0 0 20px #f103f5, 0 0 30px #fff, 0 0 10px #00ccff, 0 0 10px #d52dff, 0 0 2px #e100ff, 0 0 5px #b52beb, 0 0 6px #cc00ff;
    margin-left: -130px;
    margin-right: 15px;
    border: none;
}

.home:hover {
    margin-top: 10px;
    color: #ffffff;
    border: none;
}

.about{
    color:  rgb(196, 240, 2);
    border: none;
    box-shadow: 0 0 5px #fefefe, 0 0 20px #f103f5, 0 0 30px #fff, 0 0 10px #00ccff, 0 0 10px #d52dff, 0 0 2px #e100ff, 0 0 5px #b52beb, 0 0 6px #cc00ff;
}

.about:hover{
    margin-top: 10px;
    border: none;
    
}

.button {
    margin-top: 10px;
    background-color: #0400fbdf;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    box-shadow: 0 0 5px #ff0c49aa, 0 0 5px #ff0c30, 0 0 5px #fc0058, 0 0 5px #ff0c499b, 0 0 5px #ff0040a2, 0 0 5px #ff0c289e, 0 0 5px #ff0c0cab, 0 0 5px #ff0c0cae;
  }
  
.button:hover {
    background-color: #0040ff;
  }
.div{
    background-color: #ffffff4b;
    border-radius: 10px;
    height: 80px;
    box-shadow: 0 0 5px #fefefe, 0 0 20px #f103f5, 0 0 30px #fff, 0 0 10px #00ccff, 0 0 10px #d52dff, 0 0 2px #e100ff, 0 0 5px #b52beb, 0 0 6px #cc00ff;
}
  